.forms-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background-color: #f5f5f5;
}

.forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: #e8f0e9;
    padding: 50px;
    border-radius: 20px;
    border: 2px solid #666666;
}

.forms .cx-txt {
    width: 350px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid rgb(185, 185, 185);
    padding-left: 10px;
}

.forms .cx-txt:focus {
    outline: none;
    border-color: #2d6b30;
    box-shadow: 0 0 5px #1e4620;
}   

.forms .Btn-forms {
    width: 350px;
    height: 45px;
    border-radius: 8px;
    border: none;
    background-color: #2d6b30;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;

}

.termofserice {
    font-size: 12px;
    color: #666666;
    margin-top: 10px;
}

.Solicite{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #2d6b30;
    border-radius: 20px;
    border: 2px solid #1e4620;
    color: white;
    font-weight: bold;

    width: 150px;
    padding: 10px;
}

.talk-direct{
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items: left;

    background-color: #e8f0e9;
    border-radius: 8px;
    border: 2px solid #666666;
    color: #1a1a1a;
    font-weight: bold;
    cursor: pointer;

    width: 450px;
    padding: 10px;
    margin-top: 20px;
}

.cto{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    gap: 10px;
}

.cto-item{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.innerball{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #C85A2A;
}

.cto-item-txt{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.cto-item-li{
    font-weight: bold;
    font-size: 15px;
    list-style: none;
}

.cto-item-li-txt{
    font-size: 12px;
    color: #666666;
}

.wrapper-text{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    gap: 10px;
    margin-right: 180px;
}

.zap{
    color: #2d6b30;
    text-decoration: none;
    font-weight: bold;
}

.txt-tlk{
    color: #2d6b30;
    font-weight: bold;
}